.d-flex{
    column-gap: 10px;
}
.card-img-top{
    height: 200px;
}
.top-40{
    top: 115px;
    left: 38px;
}
.img-redius{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    border: 1px solid royalblue;
}
.socil {
    margin-bottom: 9px;
    display: flex;
    justify-content: space-evenly;
}
.socil i {
    font-size: 34px;
    color: royalblue;
}
.card-body{
    text-align: center;
}
.f-height{
    height: 600px;
}